<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>異國美食站</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"
    integrity="sha512-gMjQeDaELJ0ryCI+FtItusU9MkAifCZcGq789FrzkiM49D8lbDhoaUaIX4ASU187wofMNlgBJ4ckbrXM9sE6Pg=="
    crossorigin="anonymous" />
</head>

<body>
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="異國美食站">
          異國美食站
        </a>

        <a class="btn btn-outline-primary btn-sm" href="/restaurants/new" role="button">新增餐廳</a>

      </div>
    </nav>

    <div class="banner"></div>
  </header>


  {{{body}}}

  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>